<h2>Past Events</h2>
<% if @past_events.any? %>
  <ul>
    <% @past_events.each do |event| %>
      <li><%= event.name %> - <%= event.date %></li>
    <% end %>
  </ul>
<% else %>
  <p>No past events found.</p>
<% end %>

<h2>Upcoming Events</h2>
<% if @upcoming_events.any? %>
  <ul>
    <% @upcoming_events.each do |event| %>
      <li><%= event.name %> - <%= event.date %></li>
    <% end %>
  </ul>
<% else %>
  <p>No upcoming events found.</p>
<% end %>
